{% extends "layouts.html" %}
{% block title %}Edit_books{% endblock %}
{% block body %}
    <div class="min-height-300 bg-primary position-absolute w-100"></div>
    <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
    <div class="sidenav-header d-flex align-items-center justify-content-center">
        <i class="fa-solid fa-desktop ms-1"></i>
      <span class="ms-3 font-weight-bold">Library Management</span>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " href="{{ url_for('dash')}}">
            <i class="fa-solid fa-house ms-1"></i>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('userlist')}}">
            <i class="fa-solid fa-user ms-1"></i>
            <span class="nav-link-text ms-1">Users</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('books')}}">
            <i class="fa-solid fa-book-open ms-1"></i>
            <span class="nav-link-text ms-1">Books</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('issuebooks')}}">
            <i class="fa-regular fa-clipboard ms-1"></i>
            <span class="nav-link-text ms-1">Issue Books</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('transaction')}}">
            <i class="fa-solid fa-money-bill-transfer ms-1"></i>
            <span class="nav-link-text ms-1">Transaction</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
    <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <h6 class="font-weight-bolder text-white mb-0">Dashboard</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Profile</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                </div>
              </a>
            </li>
            <li class="nav-item ps-3 d-flex align-items-center">
              <a href="./login.html" class="nav-link text-white font-weight-bold px-0">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span class="d-sm-inline d-none">Log out</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
            <div class="container-fluid position-relative d-flex justify-content-center mt-7">
                <section class="content" id="formE">
                  <form action="{{ url_for('updatebook') }}" method="POST">
                    <div class="row">
                      <div style="width:auto;">
                        <div class="card mb-4 " >
                          <div class="card-header pb-0 d-flex justify-content-end">
                            <h4>Edit Book</h4>
                            <a href="{{ url_for('books') }}" class="ms-auto btn btn-sm bg-gradient-danger"><i class="fa-solid fa-xmark"></i></a>
                          </div>
                          <div class="card-body">
                            <div class="form-group">
                              <label for="inputId">Book ID</label>
                              <input type="text" id="inputId" name="bid" value="{{ idr.b_id }}" class="form-control" style="width: 30em;">
                            </div>
                            <div class="form-group">
                              <label for="inputName">Book Name</label>
                              <input type="text" id="inputName" name="bname" value="{{ idr.b_name }}" class="form-control" style="width: 30em;" >
                            </div>
                            <div class="form-group">
                              <label for="inputauthor">Author</label>
                              <input type="text" id="inputauthor" name="author" value="{{ idr.author }}" class="form-control" style="width: 30em;">
                            </div>
                            <div class="form-group">
                              <label for="inputquantity">Quatity</label>
                              <input type="text" id="inputquantity" name="quantity" value="{{ idr.quantity }}" class="form-control" style="width: 30em;">
                            </div>
                          </div>
                          <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <a href="{{ url_for('books') }}" class="btn btn-primary">Cancel</a>
                        <input type="submit" value="Edit Book" name="add" class="btn btn-success ml-3 ">
                      </div>
                    </div>
                  </form>
                </section>
              </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
